:root {
  --primary-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html, body {
  line-height: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

/* Header */

#header {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  background: rgba(136, 133, 133, 0.2);
}

#header-logo {
  align-self: center;
  padding-right: 30rem;
}

#nav-bar ul {
  display: flex;
  padding: 2.5rem 0;
  font-size: 1.3rem;
}

.nav-link {
  padding: 0 2rem;
  text-decoration: none;
  color: var(--primary-color);
}

/* News */

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

#form h2 {
  font-size: 2rem;
}

#form h2, input {
  margin: 0.5rem 0;
  padding: 1rem;
}

#form input[type='email'] {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  border: 1px rgba(131, 177, 179, 0.2) solid;
  border-radius: 5px;
  width: 320px;
  transition-duration: 2s;
}

#form input[type='email']:hover {
  background: rgb(197, 202, 202, 0.2);
  transition-duration: 2s;
}

#submit {
  border: 1px rgb(131, 177, 179, 0.2) solid;
  border-radius: 5px;
  font-size: 1rem;
  transition-duration: 2s;
}

#submit:hover {
  background: rgb(197, 202, 202, 0.2);
  transition-duration: 1s;
}

/* Features */

#features {
  margin: 6rem auto;
  max-width: 900px;
}

.feature {
  display: flex; 
}

#features .icon {
  display: flex;
  height: 125px;
  width: 20vw;
  align-items: center;
  justify-content: center;
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
}

/* How it works */

#video {
  display: flex;
  margin: 2rem auto;  
  width: 720px;
  height: 500px;
}

/* Pricing */

#order {
  text-align: center;
  font-size: 3rem;
  margin: 4rem;
}

.notebook-img {
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

#img-1 {
  background: url('https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/image/AppleInc/aos/published/images/m/ac/macbook/air/macbook-air-select-201706_GEO_US?wid=904&hei=840&fmt=jpeg&qlt=80&op_usm=0.5,0.5&.v=1537306183132') 
  no-repeat center center/cover;
}

#img-2 {
  background: url('https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/image/AppleInc/aos/published/images/m/ac/macbook/air/macbook-air-space-gray-select-201810?wid=904&hei=840&fmt=jpeg&qlt=80&op_usm=0.5,0.5&.v=1541713862468') 
  no-repeat center center/cover;
}

#img-3 {
  background: url('https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/image/AppleInc/aos/published/images/m/ac/macbook/air/macbook-air-space-gray-select-201810?wid=904&hei=840&fmt=jpeg&qlt=80&op_usm=0.5,0.5&.v=1541713862468') 
  no-repeat center center/cover;
}

#pricing {
  display: flex;
  justify-content: center;
}

.notebook {
  display: flex;
  height: 800px;
  width: 300px;
  flex-wrap: wrap;
  margin: 0.5rem;
  padding: 1rem;
  border: 3px whitesmoke solid;
  border-radius: 5px;
  justify-content: center;
  
}

.notebook h3 {
  height: 100px;
}

.notebook h4 {
  font-size: 1.4rem;
  height: 20px;
}

.notebook ul {
  height: 260px;
}

.notebook ul li {
  margin: 0.5rem 0;
}

.notebook .btn {
  height: 40px;
  width: 160px;
  border: 1px rgb(180, 178, 178) solid;
  border-radius: 3px;
  font-size: 1.5rem;
  margin: 0 auto;
  align-self: flex-end;
  transition-duration: 2s;
}

.notebook .btn:hover {
  transition-duration: 1s;
  border-color: black;
  background: rgb(218, 216, 216);
}

/* Footer */

footer {
  text-align: center;
  margin: 2rem 0;
}

@media (max-width:768px) {
  #header {
    position: static;
    flex-direction: column;
    align-items: center;
  }

  #nav-bar ul {
    flex-direction: column;
    padding-top: 2rem;
  }

  #nav-bar ul li {
    text-align: center;
    width: 100vw;
    padding: 1rem 0;
    border-top: 2px rgb(223, 222, 222) solid;
  }

  .feature {
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 3rem;
  }

  .feature:nth-child(2n+1) {
    background: rgb(228, 228, 228);
  }

  #features {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  #features .icon {
    width: 100vw;
    padding: 2rem;
  }

  #features .desc {
    width: 100vw;
    padding: 2rem;
  }

  #video {
    margin-top: 0;
    height: 380px;
  }

  #video iframe{
    width: 320px;
    height: 280px;
  }

  #order {
    font-size: 3rem;
    line-height: 3rem;
  }

  #pricing {
    flex-direction: column;
    align-items: center;
  }

  footer {
    padding: 2rem;
  }
}