html,body {
  background-color: white;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  text-align:center;
  min-width:300px;
  font-size: 22px;
}
#main {
  margin: 30px auto;
  padding: 10px;
  border: 0px solid;
  border-radius: 5px;
  background: #e3e3e3;
}
#image {
  max-width: 50%; 
  display: block; 
  height: auto;
  margin: auto;
}
#img-div {
  margin: -5px;
  margin-top: 15px;
  width: 100%;
  border:5px solid white;
  border-radius: 5px;
  background: white;
}
#article {
  margin-top: 40px;
  text-align: left;
}
ul {
  max-width:550px;
  margin:0 auto;
  text-align: left;
}
li {
  margin: 10px;
}
#quote-and-author {
  padding: 10px 5px 10px 5px;
  margin:5vh 20vw 5vh 20vw;
  border: 2px solid grey;
  border-radius: 5px;
  box-shadow: 2px 2px gray;
  background-color: #e6e3da;
}
cite {
  font-weight: bold;
  font-size: 24px;
}
#quote {
  font-style: italic;
}
