.title {
  text-align: center;
  font-size: 30px;
}
.subtitle {
  font-size: 26px;
}
body {
  background-color: white;
}
#image {
  width: 600px;
}
#img-caption {
  font-size: 20px;
}
#img-div {
  text-align: center;
  background-color: white;
  margin: 0px 10px 0px 10px;
  border-radius: 5px;
}
main {
  background-color: #e3e3e3;
  border-radius: 5px;
  margin: 30px 10px 50px 10px;
  padding-bottom: 20px;
}
#article {
  font-weight: bold;
  font-size: 26px;
}
#tribute-info {
  font-size: 20px;
  padding: 0vw 25vw 0vw 25vw;
  text-align: left;
  line-height: 1.2;
}
li {
  padding-top: 10px;
}
#quote-and-author {
  padding-top: 15px;
  text-align: center;
  border: 2px solid grey;
  background-color: #e6e3da;
  margin: 0vw 28vw 0vw 28vw;
  border-radius: 5px;
  box-shadow: 2px 2px gray;
}
#more-info {
  text-align: center;
  font-size: 18px;
}
#author {
  margin-left: 30vw;
  font-weight: bold;
  font-size: 18px;
}
#quote {
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
  font-size: 20px;
}
